
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3333337d;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 20px;
  width: 400px;
  text-align: center;
}

.modalActions {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  font-family: 'Vazirmatn', sans-serif;

}

.buttonSubmit {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  width: 164px;
  height: 41px;
  font-family: 'Vazirmatn', sans-serif;

}

.buttonClose {
  background-color: #ccc;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
   width: 164px;
  height: 41px;
  font-family: 'Vazirmatn', sans-serif;

}

