.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3333337D;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 30px;
  width: 460px;
  height:510px ;
  flex-direction: column;
 
}
.modal h3{
  font-size: 20px;
  width: 156px;
  height: 31px;
  text-align: center;
  padding-bottom: 30px;
  margin: auto;
  font-weight: 500;
  
}
.formSetion{
padding: 10px;
display: flex;
flex-direction: column;
align-items: flex-end;
 min-height: 100px;


}
.formSetion  input{
  border-radius: 8px;
  width: 389px;
  height: 42px;
  text-align: right;
  background-color: #F2F2F2;
  margin-top: 2px;
  border: 0px;
  font-family: 'Vazirmatn', sans-serif;
  
}
.formSetion label{
  font-size: 14px;

}
.modalActions button{
  width: 185px;
  height: 42px;
  border-radius: 8px;
  font-family: 'Vazirmatn', sans-serif;
 margin-top: 30px;
  border: 0px;
margin-left: 30px;
  
}
.buttonSubmit{
  background-color: #55A3F0;
  color: #FFFFFF;
}
.buttonClose{
  color: #282828CC;
  background-color: #DFDFDF;
}

.error {
  color: #e63946;
  font-size: 12px;
  margin-top: 5px;
  text-align: left;   
  align-self: flex-start; 
  width: 100%;
  margin-left: 30px;
   min-height: 16px; 
}
